<section class="post">
    <header class="post-header">
        <h2>A propos du Lab</h2>

        <p>
            Par <a href="https://github.com/caouecs">Frederic Delrieu</a> le 29 Octobre 2013
        </p>
    </header>

    <div class="post-description">
        <p>
            Le Lab est un nouvel espace dédié à l'envers du décor du portail ZoneDActivite.com. Nous n'avons pas pour but de vous présenter la vie privée des gens qui font le portail, mais plus les outils.<br />Vous découvriez donc les évolutions techniques du portail, les nouveautés en matière de cartographie, nos projets, nos tests et bien d'autres surprises, qui prouvent que ZoneDActivite.com n'est pas un simple moteur de référencement, mais bien un acteur important de l'économie territoriale.
        </p>
    </div>
</section>